<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<div>
                                       {% if messages %}
                                       {% for message in messages %}
                                       {{message}}
                                       {% endfor %}
                                       {% endif %}
</div>
<h1>Reset Password</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="newpassword"><br>
    <input type="text" name="cpassword">
    <input type="submit">
</form>

</body>
</html>